.alignResponsive{
    @media only screen and (max-width: 767px) {
      justify-content: center !important;
    }
  }
 
  .imgSide {
      margin-top: 40vh;
      @media only screen and (max-width: 767px) {
        margin-top: 0vh;
      }
  }